packages:
  yum:
    mod_ssl: []

files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    source: https://your-cert-path.crt
  "/etc/pki/tls/private/server.key":
    mode: "000600"
    owner: root
    group: root
    source: https://your-key-path.key

container_commands:
  01_restart_nginx:
    command: "sudo service nginx restart"

